<% include ../layouts/header.ejs %>

  <body style="overflow: hidden">
    <nav class="navbar navbar-expand-md navbar-light fixed-top deep-orange"> <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button> <a class="navbar-brand" href="/">← Go Back</a> </nav>
    </br>
    <div class="row">
      <div class="container-fluid col-sm-3">
        <div class="card" style="width:400px"> <img class="card-img-top" src=https://www.w3schools.com/bootstrap4/img_avatar1.png alt="Card image">
          <div class="card-body">
            <h2 class="card-title text-capitalize"><%=first_name%> <%=last_name%></h4>
            <h4 class="card-text">Score: <%=score%></h4>
            <div class="row"> <button type="button" class="btn btn-danger col" data-toggle="modal" data-target="#deletionModal">
                                    Delete Student
                            </button> <button type="button" class="btn btn-info col" data-toggle="modal" data-target="#deletionModal">Edit Student</button> </div>
          </div>
        </div>
      </div>
      <div class="card container-fluid col-sm-8"> <br>
        <div id="lineChart" style="width: 95%; height: 95%"></div><br> </div>
    </div>
    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this student?</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button> </div>
          <div class="modal-body"> This action is irreversible </div>
          <div class="modal-footer"> <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button> <a role="button" href="/dashboard/delete/<%=student_id%>" method="get" class="btn btn-danger">Yes, Delete</a> </div>
        </div>
      </div>
    </div>
    <!-- Deletion Modal -->
    <div class="modal fade" id="deletionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this student?</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button> </div>
          <div class="modal-body"> This action is irreversible </div>
          <div class="modal-footer"> <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button> <a role="button" href="/dashboard/delete/<%=student_id%>" method="get" class="btn btn-danger">Yes, Delete</a> </div>
        </div>
      </div>
    </div>
    <% include ../layouts/footer.ejs %>
      <!--Charts-->
      <script>
      scores = <%=scores%>
      var chart = new Chartist.Line(document.getElementById('lineChart'), {
      labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      series: [scores]
      }, {
      fullWidth: false,
      chartPadding: {
        right: 10
      },
      lineSmooth: Chartist.Interpolation.cardinal({
      fillHoles: true,
      }),
      high: 100,
      low: 0,
      axisY: {
        onlyInteger: true,
        offset: 20
      }
      });
      </script>
  </body>

  </html>
