<div class="card">
  <h2 style="padding:0.25em; padding-top:0.5em">Students</h2>
  <div class="table-responsive">
    <% if (data.length != 0) {%>
      <table class="table table-striped">
        <thead class="blue-grey lighten-2">
          <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Score</th>
            <th></th>
          </tr>
        </thead>
        <!-- Display all users -->
        <tbody>
          <% data.forEach(function(student){ %>
            <tr>
              <td class="align-middle" style="text-transform: capitalize">
                <%= student.first_name %>
              </td>
              <td class="align-middle" style="text-transform: capitalize">
                <%= student.last_name %>
              </td>
              <td class="align-middle text-capatalize">
                <%if (JSON.parse(student.scores).length != 0) {%>
                <%= Math.floor((JSON.parse(student.scores).reduce((previous, current) => current += previous)) / (JSON.parse(student.scores).length));%>
                <%} else {%>
                <%= '--'%>
                <%}%>
              </td>
              <td>
                <div align="center"><a href="/dashboard/show/<%= student.student_id %>" method="get" class="btn btn-info" role="button" data-toggle="tooltip" title="View more information">Info</a></div>
              </td>
            </tr>
            <% })} else { %>
              <div class="card bg-danger text-white">
                <div class="card-body">No students found</div>
              </div>
              <% } %>
                <!-- New User Entry -->
                <form action="/dashboard" class="form-inline" method="post" name="form1">
                  <td>
                    <div class="md-form form-lg"><input type="text" style="margin-top:0px" id="inputLGEx" class="form-control form-control-lg" placeholder="First Name" name="first_name" value="<%= first_name %>"></div>
                  </td>
                  <td>
                    <div class="md-form form-lg"><input type="text" style="margin-top:0px" id="inputLGEx" class="form-control form-control-lg" placeholder="Last Name" name="last_name" value="<%= last_name %>"></div>
                  </td>
                  <td></td>
                  <td>
                    <div align="center"><button style="height:55px; width:120px; margin-top:12px;" class="btn btn-success" type="submit" value="Add">Create</button></div>
                  </td>

                </form>
        </tbody>
      </table>
  </div>
</div>
